@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Slab&family=Roboto:wght@400;700&display=swap');
/*  font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Slab', serif; */

    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.messagess-container {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: calc(100vh - 100px);
    overflow-y: scroll;
    .message-item {
        display: flex;
        justify-content: end;
        align-items: top;

        margin-top: 15px;
        .message-info {
            margin-right: 5px;
            .user {
                margin-bottom: 2px;
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                font-weight: 700;
                color: #141414;
                text-align: right;
                text-transform: capitalize;
            }
            .time {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 11px;
                color: #4F5665;
                text-align: right;
            }
            .message {
                border-radius: 16px 0 16px 16px;
                background-color: #21978B;
                margin: 10px auto 0;
                padding: 18px 16px;
                max-width: 60vw;
            
            
                color: white;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                text-align: left;
                word-wrap: break-word;
            }
        }
        .message-avatar {
        }
    }
}